
footer{
    background-color: $bg_footer;
    font-family: "Montserrat";
    
}
.footer_container{
    padding: 0 5rem;
}
.footer_headings{
    list-style-type: none;
    margin-top: 4.4rem;
    margin-bottom: 1.6rem;
    font-size: .75rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.footer_items{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;

    ul{

        text-align: center;
    }

  .footer_item{
    list-style-type: none;
    margin-bottom: .6rem;
}
}
.footer_container a{
    text-decoration: none;
    color: $placeholder_color;
    font-size: .7rem;
    transition: .25s;
}
.footer_container a:hover{
    color:$secondary_orange;
}
.footer_lastinfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: .7rem;
    margin-top: 1.25rem;
    .footer_payingImg{
        text-align: center;
    }
    .footer_social_media{
        display: flex;
        justify-content: end;
        a{
            margin:0 0.94rem;
        }
    }
 
}
.hr{
    border: none;
    height: .1px;
    background-color: $input_border;
    margin-top: 3.75rem;
}

@media (max-width: 768px) {
    .footer_items{
        grid-template-columns: 1fr 1fr;
    }
    .footer_lastinfo{
        grid-template-columns: 1fr;
        text-align: center;
        
        row-gap: 15px;


        .footer_social_media{
            justify-content: center;
        }
    }
}

@media (max-width: 576px){
    .footer_items{
        grid-template-columns: 1fr;
    }
    .footer_container{
        padding: 0;
    }
}

//testing