// if you want to use this style add "  @use 'partials/form'  "
@import "extends";
@import "variables";

input {
  @extend %form_input;
}
.input-error {
  border: 1px solid red !important;
  &::placeholder {
    color: red !important;
  }
}

.form-types {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
}
.form_holder {
  width: 50%;
  margin: auto;
  padding: 20px 0;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  textarea {
    padding: 20px 15px;
    outline: none;
    border: 1px solid $input_border;

    &::placeholder {
      color: $placeholder_color;
    }
  }

  #sendMailBtn {
    @extend %medium_btn;
  }
}
.subscribe {
  width: 50%;
  margin: auto;
  position: relative;
  overflow: hidden;

  &_orange {
    @extend %medium_btn;
    position: absolute;
    right: 0;
    top: 0;
  }
  &_dark {
    @extend %medium_btn;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: black;
    &:hover {
      background-color: #232323;
    }
  }
}
