// if you want to use this style add "  @use 'partials/form'  "
@import 'extends';


.form_holder {
  max-width: 50%;
  margin: auto;
  padding: 20px 0;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    




    input{
        outline: none;
        padding: 20px 15px;
    }
    textarea{
        padding: 20px 15px;
        outline: none;
    }
    #sendMailBtn {
       @extend %send_mail_btn ;
       color: white;
       background-color: orange;

    }


  }
}
