.progress_bar{
    padding: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.progress_bar h3{
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color:#f40000;
}
.progress_skill{
    width: 160px;
    height: 160px;
    position: relative;
}
.progress_watch{
    max-width: 1280px;
    margin: auto;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.progress_outer{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.progress_inner{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05)
}
#progress_one_number, #progress_two_number, #progress_three_number, #progress_four_number {
    font-weight: 600;
    font-size: 2rem;
    color: #f40000;

}
.progress_circle_one{
    fill: none;
    stroke: url(#progress_gradient);
    stroke-width: 20px;
    stroke-dasharray: 436;
    stroke-dashoffset: 436;
    animation: anim1 2s linear forwards;
}
.progress_svg{
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anim1{
    100%{
        stroke-dashoffset: 50;  
    }
}
.progress_circle_two{
    fill: none;
    stroke: url(#progress_gradient);
    stroke-width: 20px;
    stroke-dasharray: 436;
    stroke-dashoffset: 436;
    animation: anim2 2s linear forwards;
}
@keyframes anim2{
    100%{
        stroke-dashoffset: 25;  
    }
}
.progress_circle_three{
    fill: none;
    stroke: url(#progress_gradient);
    stroke-width: 20px;
    stroke-dasharray: 436;
    stroke-dashoffset: 436;
    animation: anim3 2s linear forwards;
}
@keyframes anim3{
    100%{
        stroke-dashoffset: 20;  
    }
    
}
.progress_circle_four{
    fill: none;
    stroke: url(#progress_gradient);
    stroke-width: 20px;
    stroke-dasharray: 436;
    stroke-dashoffset: 436;
    animation: anim4 2s linear forwards;
}
@keyframes anim4{
    100%{
        stroke-dashoffset: 40;  
    }}

.progress{
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
}

@media (max-width: 992px) {
    .progress_watch{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 576px) {
    .progress_watch{
        grid-template-columns: 1fr;
    }
}