@import "variables";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#img-heading{
    width:100%;
    height: 14rem;
    position: relative;
}
#text-heading{
position:absolute;
top: 5.2rem;
left: 5rem;
font-size: 3rem;
font-weight: 500;
}

.standard_container{
    padding: 4rem 5rem 0 5rem;
    .categories a{
        text-decoration: none;
        color: $text_color;
        font-size: .75rem;
        transition: .25s;
        text-transform: uppercase;  
        margin-right: 2rem;   
        font-weight: 700;
        letter-spacing: .15ch;
         
    }
    .categories a:hover{
        color:$secondary_orange;
    }
    
}
.items{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    // height: 100%;
    // width: 100%;
    padding-top: 2rem;
    
#port-item1{grid-area: 1 / 1 / 2 / 2;}
#port-item2{grid-area: 1 / 2 / 2 / 3;}
#port-item3{grid-area: 1 / 3 / 2 / 4;}
#port-item4{grid-area: 2 / 1 / 3 / 2;}
#port-item5{grid-area: 2 / 2 / 3 / 3;}
#port-item6{grid-area: 2 / 3 / 3 / 4;}
#port-item7{grid-area: 3 / 1 / 4 / 2;}
#port-item8{grid-area: 3 / 2 / 4 / 3;}
#port-item9{grid-area: 3 / 3 / 4 / 4;}
#port-item10{grid-area: 4 / 1 / 5 / 2;}
#port-item11{grid-area: 4 / 2 / 5 / 3;}
#port-item12{grid-area: 4 / 3 / 5 / 4;}
}
  

.items a{
    letter-spacing: .1ch;
    font-size: 1rem;
    text-decoration: none;
    color: $text_color;
    font-size: .7rem;
    transition: .25s;
}
.items a:hover{
    color:$secondary_orange;
}
.items img{
    // max-width: 100%;
    // height: 100%;
    width: 22rem;
    height: 29rem;
}