//========================================
// COLORS
//========================================

$primary_orange: #f34f3f;
$secondary_orange: #f40000;
$text_color: #1b1b1b;
$placeholder_color: #a7a4a4;
$second_text_color: whitesmoke;
$bg_primary: #fefaf9;
$bg_footer: #fefaf3;
$input_border: #e8e8e8;

//========================================
// Font sizes 
//========================================