//========================================
// COLORS
//========================================

$primary_orange: #f34f3f;
$text_color: #1b1b1b;
$bg_footer: #fefaf3;



//========================================
// Font sizes 
//========================================