@use "partials/form";
@import 'partials/variables';
@import "partials/extends";
@import "partials/buttons";
@import "partials/bloglist";
@import 'partials/shoplist';
@import 'partials/form';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
button {
  cursor: pointer;
}
