@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --text: #1b1b1b;
    --second: red;
    --background: #fefaf3;
    --dark:black;
}


.accordion {
    max-width: 70rem;
}
.content {
    margin: 1rem 2rem;
}
.label {
    font-weight: 400;
    padding: 1.5rem;
    border: 1px solid whitesmoke;
    color: gray;
}
.label:hover{
    background: #f34f3f;
    color: white;
    cursor: pointer;
}
.title {
    background: #fff;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 0.5rem;
    border: 0px solid white;   
    transition: 0.2s;
}
.content.active .title {
    height: auto;
    border: 1px solid whitesmoke;
    padding: 0.5rem;
}

.grid {
    display: grid;
    grid-template-areas:'fr fr';
    gap: 1rem;
    padding: 1rem;
}