.solid, .outline, .small, .medium, .large {
  border: none;
  font-weight: 500;
  font-style: 1.3rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  width: 210px;
  height: 80px;
}

.form_holder form #sendMailBtn {
  width: 200px;
  height: 60px;
  border: none;
  font-weight: 500;
  font-style: 1.3rem;
}

.solid, .small, .medium, .large {
  background-color: #f34f3f;
  color: whitesmoke;
}
.solid:hover, .small:hover, .medium:hover, .large:hover {
  transition: 0.5s;
  background-color: #f40000;
}

.outline {
  background-color: white;
  border: 1px solid #f34f3f;
  color: #f34f3f;
}
.outline:hover {
  transition: 0.5s;
  background-color: #f34f3f;
  color: whitesmoke;
}

.simple {
  border: none;
  font-weight: 500;
  font-style: 1.3rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  text-align: left;
  background-color: white;
  position: relative;
  width: 200px;
}
.simple::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 1.5px;
  background-color: #2b2b2b;
  transition: 0.3s;
}
.simple:hover::before {
  width: 55%;
}

.small {
  width: 170px;
  height: 60px;
}

.medium {
  width: 190px;
  height: 60px;
}

.large {
  width: 230px;
  height: 80px;
}

.form_holder {
  max-width: 50%;
  margin: auto;
  padding: 20px 0;
}
.form_holder form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.form_holder form input {
  outline: none;
  padding: 19px 18px;
  border: 1px solid #e8e8e8;
}
.form_holder form input::-moz-placeholder {
  color: #a7a4a4;
}
.form_holder form input:-ms-input-placeholder {
  color: #a7a4a4;
}
.form_holder form input::placeholder {
  color: #a7a4a4;
}
.form_holder form textarea {
  padding: 20px 15px;
  outline: none;
  border: 1px solid #e8e8e8;
}
.form_holder form textarea::-moz-placeholder {
  color: #a7a4a4;
}
.form_holder form textarea:-ms-input-placeholder {
  color: #a7a4a4;
}
.form_holder form textarea::placeholder {
  color: #a7a4a4;
}
.form_holder form #sendMailBtn {
  color: white;
  background-color: orange;
}

.outline, .solid, .large, .medium, .small {
  border: none;
  font-weight: 500;
  font-style: 1.3rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  width: 210px;
  height: 80px;
}

.solid, .large, .medium, .small {
  background-color: #f34f3f;
  color: whitesmoke;
}
.solid:hover, .large:hover, .medium:hover, .small:hover {
  transition: 0.5s;
  background-color: #f40000;
}

.outline {
  background-color: white;
  border: 1px solid #f34f3f;
  color: #f34f3f;
}
.outline:hover {
  transition: 0.5s;
  background-color: #f34f3f;
  color: whitesmoke;
}

.simple {
  border: none;
  font-weight: 500;
  font-style: 1.3rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  text-align: left;
  background-color: white;
  position: relative;
  width: 200px;
}
.simple::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 1.5px;
  background-color: #2b2b2b;
  transition: 0.3s;
}
.simple:hover::before {
  width: 55%;
}

.small {
  width: 170px;
  height: 60px;
}

.medium {
  width: 190px;
  height: 60px;
}

.large {
  width: 230px;
  height: 80px;
}

.outline, .solid, .small, .medium, .large {
  border: none;
  font-weight: 500;
  font-style: 1.3rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  width: 210px;
  height: 80px;
}

.solid, .small, .medium, .large {
  background-color: #f34f3f;
  color: whitesmoke;
}
.solid:hover, .small:hover, .medium:hover, .large:hover {
  transition: 0.5s;
  background-color: #f40000;
}

.outline {
  background-color: white;
  border: 1px solid #f34f3f;
  color: #f34f3f;
}
.outline:hover {
  transition: 0.5s;
  background-color: #f34f3f;
  color: whitesmoke;
}

.simple {
  border: none;
  font-weight: 500;
  font-style: 1.3rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  text-align: left;
  background-color: white;
  position: relative;
  width: 200px;
}
.simple::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 1.5px;
  background-color: #2b2b2b;
  transition: 0.3s;
}
.simple:hover::before {
  width: 55%;
}

.small {
  width: 170px;
  height: 60px;
}

.medium {
  width: 190px;
  height: 60px;
}

.large {
  width: 230px;
  height: 80px;
}

.btn_grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blog_header {
  background-color: #fefaf9;
  min-height: 30vh;
  display: flex;
  align-items: center;
}
.blog_header .title {
  font-size: 3rem;
  font-weight: 200;
  margin: 2rem 15rem;
  color: #1b1b1b;
}

.blog_watch {
  display: flex;
  justify-content: space-around;
  margin: 2rem 15rem;
}
.blog_watch .blog_content {
  margin: 1rem;
}
.blog_watch .blog_content .image {
  position: relative;
  overflow: hidden;
}
.blog_watch .blog_content .image button {
  position: absolute;
  border: none;
  padding: 0.5rem;
  font-size: 0.7rem;
  top: 2%;
  left: 2%;
  border-radius: 2px;
  transition: 0.5s;
}
.blog_watch .blog_content .image button:hover {
  color: #f34f3f;
}
.blog_watch .blog_content .image img {
  cursor: pointer;
  width: 100%;
  transition: 1s;
}
.blog_watch .blog_content .image img:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

button {
  cursor: pointer;
}